<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DatabaseConnection.Properties.Settings.ClaimStakerDEVConnectionString"
      connectionString="Data Source=APEXEDI-DEV\APEXEDIDEV;Initial Catalog=ClaimStakerDEV;Persist Security Info=True;User ID=dariantest;Password=23INTp23???"
      providerName="System.Data.SqlClient" />
    <add name="ClaimStakerDevEntities" connectionString="metadata=res://*/TestsModel.csdl|res://*/TestsModel.ssdl|res://*/TestsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APEXEDI-DEV\APEXEDIDEV;initial catalog=ClaimStakerDEV;persist security info=True;user id=dariantest;password=23INTp23???;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TestEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EVERETT-PC\EVERETTSQL;initial catalog=Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DatabaseConnection.Properties.Settings.TestConnectionString"
      connectionString="Data Source=EVERETT-PC\EVERETTSQL;Initial Catalog=Test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>